@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    height: 110.62px;
    display: grid;
    grid-template-columns: 520px 1fr;
}

.left_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 43.46px;
}

.right_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.header_links {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26.6922px;
    line-height: 39px;
    color: #1F93D6;
}

.selectedHeaderLink {
    width: auto;
    height: 50px;
    padding: 0 19.28px;
    background: #1F93D6;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;   
}

.btn_enter {
    border: 0.987654px solid #1F93D6;
    border-radius: 19.7531px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 26.6864px;
    line-height: 39px;
    color: #1F93D6;
    background: #FFFFFF;
    width: 100.74px;
    height: 53.33px;
}

.main {
    width: 100%;
    background-image: url(../img/main_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 912px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}
.title {
    font-style: normal;
    font-weight: 500;
    font-size: 83.828px;
    line-height: 96px;
    color: #FFFFFF;
    text-shadow: -6px 5px 0px rgba(0, 0, 0, 0.25);
    padding-left: 26px;
    max-width: 650px;
}
.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 43.192px;
    line-height: 50px;
    color: #FFFFFF;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
    padding-left: 26px;
    max-width: 710px;
}
.right_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    background: #FFFFFF;
    box-shadow: -9px 11px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 685px;
    height: 840px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    position: relative;
}

.box_title {
    font-style: normal;
    font-weight: 400;
    font-size: 56.866px;
    line-height: 65px;
    text-align: center;
    color: #1F93D6;
    max-width: 505px;
}

.box_subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 23.6274px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.45);
    padding-top: 50px;
    max-width: 505px;
    max-height: 76px;
}
.box_form {
    display: flex;
    flex-direction: column;
    padding-top: 23px;
}

.box_label {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #1F93D6;
    padding-top: 20px;
    padding-left: 22px;
}

.box_input {
    width: 513px;
    height: 90px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: black;
    padding-left: 32px;
}

input::placeholder {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: rgba(0, 0, 0, 0.25);
  }

.checkbox {
    width: 31px;
    height: 31px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.container_check {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 14px 15px 0px 15px;
}

.rememberMe {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1F93D6;
    padding-left: 8px;
}

.forgotPass {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1F93D6;
    justify-self: flex-end;
    padding-left: 180px;
}

.box_btn {
    width: 285px;
    height: 55px; 
    background: #1F93D6;
    border-radius: 50px;
    border: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 45px;
    align-self: center;
}

.box_footer {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    padding-top: 42px;
}

.registry_underlined {
    text-decoration: underline;
    color: #1F93D6;
}

.box_decor_img {
    width: 100px;
    height: 174px;
    position: absolute;
    right: 28px;
    top: -14px;
}





/* About Us Page */
.mainAboutUs {
    width: 100%;
    background-image: url(../img/AboutUsBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 912px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sideAboutUs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 130px 0px 0px 60px;
}

.titleAboutUs {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60.9512px;
    line-height: 70px;
    color: #1F93D6;
    max-width: 784.8px;
}

.subtitleAboutUs {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25.9169px;
    line-height: 42px;
    color: #000000;
    max-width: 632px;
    padding-top: 33px;
}

.buttonsAboutUs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 80px;
}
.btnConsultation {
    width: 459px;
    height: 68px;
    background: #1F93D6;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21.7667px;
    line-height: 26px;
    color: #FFFFFF;
    border: none;
    margin-right: 49px;
}
.KnowMore {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21.7667px;
    line-height: 26px;
    color: #1F93D6;
}

/* About Us 10 Page */
.mainOurTeam {
    width: 100%;
    background-image: url(../img/AboutUs10.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 912px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titleOurTeam {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72.7437px;
    line-height: 84px;
    color: #1F93D6;
    padding: 80px 0 45px 74px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card {
    font-family: 'Ubuntu', sans-serif;
    width: 253px;
    height: 491px;
    background: #FFFFFF;
    box-shadow: -12px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.nameCard {
    width: 186px;
    height: 66px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.awardsCard {
    width: 186px;
    height: 76px;
    font-style: italic;
    font-weight: 300;
    font-size: 19.6205px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    border-bottom: 0.839372px solid rgba(0, 0, 0, 0.25);
    border-top: 0.839372px solid rgba(0, 0, 0, 0.25);
    padding: 13px 0 13px 0;
}

.jobCard {
    width: 186px;
    height: 59px;
    font-style: normal;
    font-weight: 500;
    font-size: 15.635px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 0.839372px solid rgba(0, 0, 0, 0.25);
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0 8px 0;
}

/* Our Services 3 */
.mainOurServices {
    background-image: url(../img/OurServices3Background.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titleOurServices {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 56.6495px;
    line-height: 65px;
    color: #1F93D6;
    padding: 39px 83px;
    
}

.contentOurServices {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(8, 1fr);

}
.containerOurServices {
    width: 361px;
    height: 283px;
    background: #E7F1FE;
    box-shadow: -7px 8px 9px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 92px;
    position: relative;
}

.container_title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 131.4%;
    color: #000000;
    width: 260px;
    height: 47px;
}

.container_paragraph {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24.5183px;
    line-height: 131.4%;
    /* or 32px */
    color: #000000;
    width: 289px;
    height: 172px;
}

.logo_img {
    position: absolute;
    top: -48px;
    right: 48px;
}